/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.map {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%;
}

.footer {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 100%;
}

.rounded {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 2px;
  text-align: center;
  border-radius: 10px;
}

img.marker {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 4px;
}
