template(name='Home')
  .header
    .rounded
      h2 DRCQ - Disaster Recovery Communication Coordination

  div.map(id='map')

  if addMarker
    .footer
      .rounded
        p Add new marker at #{addMarker.lat}, #{addMarker.lng}
        p Resource:
          each resource
            img.marker(src='{{iconUrl}}', category='{{category}}', type='resource', title='{{category}}')
        p Need:
          each need
            img.marker(src='{{iconUrl}}', category='{{category}}', type='need', title='{{category}}')
