/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.map {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 100%;
}

#selectMarker {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 5px;
  text-align: center;
}

img.marker {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 4px;
}
