/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.map {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%;
  .rounded {
    width: 500px;
  }
}

.footer {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 100%;
  .rounded {
    padding: 5px;
    width: 336px;
  }
}

.rounded {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  text-align: center;
  border-radius: 10px;
  opacity: .8;
  overflow: auto;
  button {
    background-color: #3A86BE;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.icons {
  .label {
    color: #3A86BE;
    vertical-align: middle;
    font-weight: bold;
  }
  width: 160px;
  border-width: 2px;
  border-style: solid;
  border-color: #3A86BE;
  border-radius: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.marker {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 4px;
}
