template(name='Home')
  .header
    .rounded
      h3 DRCQ - Disaster Recovery Communication Coordination
      unless confirmed
        h4 Coordinate needs and resources in a disaster situation
        p Double tap on the map to create a new need / resource
        button#dismiss Got it!

  div.map(id='map')

  .about
    button#about About

  if addMarker
    .footer
      .rounded
        h4 Add new marker at {{round addMarker.lat}}, {{round addMarker.lng}}
        .icons.left
          .label Resource
          each categories
            img.marker(src='{{resource}}', category='{{category}}', type='resource', title='{{category}}')
        .icons.right
          .label Need
          each categories
            img.marker(src='{{need}}', category='{{category}}', type='need', title='{{category}}')
