template(name='Home')
  div.map(id='map')

  if addMarker
    .footer
      div#selectMarker
        p Add new marker at #{addMarker.lat}, #{addMarker.lng}
        each categories
          img.marker(src='{{iconUrl}}', category='{{category}}', title='{{category}}')
