/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.map {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%;
  .rounded {
    width: 500px;
  }
}

.footer {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 100%;
  .rounded {
    padding: 5px;
    width: 336px;
  }
}

.rounded {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  text-align: center;
  border-radius: 10px;
  opacity: .8;
  overflow: auto;
  box-shadow: 5px 5px 5px #888;
}

.about {
  z-index: 2;
  bottom: 10px;
  left: 10px;
  position: absolute;
}

button {
  background-color: #3A86BE;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888;
}

.icons {
  .label {
    color: #3A86BE;
    vertical-align: middle;
    font-weight: bold;
  }
  width: 160px;
  border-width: 2px;
  border-style: solid;
  border-color: #3A86BE;
  border-radius: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.marker {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 4px;
}
